* {
  padding: 0;
  margin: auto;
}
body {
  font-family: 'Handlee', cursive;
}
.masthead {
  width: 100%;
  height: 7em;
  background-color: #009688c2;
  text-align: center;
  font-size: 23px;
}
#search-keyword {
  width: 60vh;
  height: 6vh;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Handlee', cursive;
}
#submit-btn {
  width: 7em;
  height: 6vh;
  border-radius: 3px;
  font-size: 17px;
  border: none;
  background-color: darksalmon;
  font-family: 'Handlee', cursive;
}